/*主页背景颜色*/
body{
    background-color:	#cfcfcf;
}
/*左侧颜色*/
.main-left {
    background-color: #f7f7f7;
    border-right: 1px solid 	#E0E0E0;

}


/*右侧颜色*/
.main-right {

    background-color:#f7f7f7;
    border-left:1px solid 	#E0E0E0;

}

/*底部颜色*/
.footer {
    background-color: #f1f1f1;
    font-size: 12px;
    color: dimgrey;
}
